.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.g-1 {
  gap: calc(var(--base-unit) * 0.5); /* 16 */
}

.g-2 {
  gap: var(--base-unit); /* 32 */
}

.g-3 {
  gap: calc(var(--base-unit) * 2); /* 64 */
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}