/* 헤더 - 김찬희 */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  box-sizing: border-box;
  display: flex;
  z-index: 5;
  padding: calc(var(--base-unit) * 0.28);
  background: var(--background);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
nav ul {
  gap: 50px;
}
nav ul li a {
  font-weight: bold;
}
.nav-cta a {
  text-transform: uppercase;
}
.nav-btn {
  width: 174px;
  flex-shrink: 0;
  white-space: nowrap;
}
.nav-btn .btn-small {
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

/* 메인 : 히어로 - 김찬희 */
.hero {
  margin-top: 96px;
  background: var(--background);
}
.title-text > span {
  font-size: calc(var(--base-font) * 0.875);
  color: var(--text-sub);
}
.title-text h2 {
  color: var(--text-main);
  margin: 16px 0 32px 0;
}
.title-text h2 > span {
  background: linear-gradient(45deg, #6ee7a8, #4facfe);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.title-text p {
  font-size: var(--body-l);
  color: var(--text-main);
}
.title-text a {
  margin-top: 40px;
  /* box-sizing: border-box; */
}
.title-text a:nth-of-type(1) {
  margin-right: 19px;
}
.hero img {
  box-shadow:
    0 0 50px 100px rgba(110, 231, 168, 0.5),
    0 0 50px 50px rgba(110, 231, 168, 0.15),
    0 0 50px 0 rgba(0, 0, 0, 0.15);
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

/* 메인 : 문제 제기 - 김정우 */
.problem {
  padding: 96px 0;
  gap: 30px;
  background-color: var(--background);
}
.problem > .container {
  gap: 120px;
}
.problem > .title {
  width: 700px;
  height: 100px;
  gap: 16px;
  padding: 30px 8px;
}
.question {
  width: 1180px;
  padding: 0 50px;
}
.question-container {
  width: 200px;
  height: 300px;
  gap: 20px;
  padding: 10px;
  text-align: center;
}
.question-list {
  gap: 20px;
  padding: 10px;
}
.question-list li > h3 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
}
.question-list li > h3 span {
  font-size: var(--base-unit);
}
/* 메인 : 프로그램 소개 - 김정우 */
.program {
  padding: 96px 0;
  background-color: var(--background);
}
.program > .container {
  gap: 32px;
  padding: 64px 0;
}
.program > .title {
  height: 450px;
  gap: 16px;
  padding: 100px;
}

.program-list {
  gap: 32px;
}
/* 전체 진행 영역 */
.progress {
  width: 800px;
  height: 80px;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  background: transparent;
  overflow: visible;
}

/* 전체 점선 */
.progress::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  border-top: 2px dashed #4b5563;
  z-index: 0;
}

/* active 된 구간 점선 */
.progress::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: calc((100% - 30px) / 3);
  border-top: 2px dashed #8ee6b8;
  z-index: 1;
}

/* 각 단계 li */
.progress > li {
  position: relative;
  z-index: 2;
  list-style: none;
}

/* 안쪽 ul */
.progress-dot {
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 기본 원 */
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--dark-accent2);
  box-shadow: 0 0 0 6px rgba(47, 59, 79, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 작은 원 */
.circle.small {
  width: 16px;
  height: 16px;
  margin-top: 7px;
}

/* active 된 원 */
.progress > li.active .circle {
  background-color: var(--primary-light);
  box-shadow: 0 0 0 7px rgba(104, 217, 158, 0.3);
}

/* 글자 */
.progress-dot .text-caption {
  list-style: none;
  font-size: 12px;
  white-space: nowrap;
}

.list-decoration {
  list-style: disc;
  padding-right: 50px;
  color: var(--text-sub);
}
.sliderwrap {
  position: relative;
  width: 801px;
  height: 400px;
  overflow: hidden;
}

/* 바깥 ul */
.slidercontainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 실제 슬라이드들이 가로로 나열되는 부분 */
.slidercontainer > li {
  display: flex;
  align-items: center;
  text-align: center;

  width: max-content;
  margin: 0;
  padding: 0;
  list-style: none;

  /* 두 번째 슬라이드가 보이도록 왼쪽으로 이동 */
  transform: translateX(-800px);
}

/* 슬라이드 한 장 */
.slider {
  flex: 0 0 800px;
  width: 800px;
  height: 330px;
  gap: 16px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-content {
  width: 800px;
  height: 258px;
  border: 1px solid var(--primary-light);
  border-right: none;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider:last-child .slider-content {
  border-right: 1px solid var(--primary-light);
}

.slider-content img {
  width: 200px;
  height: auto;
}

.divider {
  height: 169px;
  border: none;
  padding: 0 32px;
  border-left: 1px solid var(--primary-light);
}

/* 좌우 버튼 */
.slider-button {
  position: absolute;
  top: 0;
  z-index: 2;

  width: 32px;
  height: 28px;
  border: none;
  border-radius: 6px;

  background-color: var(--primary-light);
  color: var(--text-main);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  padding: 0;
}

.slider-button.prev {
  left: 16px;
}

.slider-button.next {
  right: 16px;
}

.slider-button .material-icons {
  font-size: 18px;
  line-height: 1;
}

.slider-button:hover {
  background-color: var(--primary-hover);
}

/* 메인 : 혜택 - 최정원 */
.benefit {
  background: var(--background);
}
.benefit-cards {
  width: 100%;
}
.benefit-cards ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 320px;
  background: var(--primary-light-50);
  border-radius: 10px;
  gap: 24px;
  transition: 0.3s;
}
.benefit-icon span {
  color: var(--primary-main);
  font-size: calc(var(--base-font) * 3);
}
.benefit-cards .text-body-m {
  width: 250px;
  height: 80px;
  word-break: keep-all;
}
.benefit-cards ul li:nth-child(3) .text-body-m {
  width: 196px;
}
.benefit-cards ul li:last-child .text-body-m {
  width: 201px;
}
.benefit-cards ul li:hover {
  transform: translateY(-4px);
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.1);
}

/* 메인 : 결과 - 최정원 */
.result {
  gap: calc(var(--base-unit) * 4);
  background: var(--dark-accent2);
}
.result .container > .text-heading4,
.result .container > .text-heading5 {
  color: var(--background);
}
.resultList {
  width: 100%;
}
.resultList li {
  width: 250px;
}
.resultList li .text-heading4 {
  color: var(--primary-main);
}
.resultList li .text-body-l {
  color: var(--background);
}

.company-slide-wrap {
  overflow: hidden;
}
.companySlide {
  gap: 20px;
  width: 100%;
  animation: Slide 20s linear infinite;
}
.companySlide img {
  height: 70px;
  width: auto;
  padding: 20px;
  box-sizing: border-box;
  background: var(--background);
  border-radius: 10px;
}
@keyframes Slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 330px));
  }
}

/* 메인 : 수강생 후기 - 김윤수 */
.student-profile {
  width: 300px;
  height: 360px;
  background: var(--primary-light-20);
  gap: 20px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 25%);
}
.scope-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.scope-head span {
  color: var(--primary-main);
}

.student-comment {
  display: block;
  width: 300px;
  height: 150px;
}
.student-name {
  font-weight: bold;
}

/* 메인 : 프로세스 - 김윤수 */
.process_circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--primary-main);
}
.process > div.container {
  gap: 80px;
  padding: 0 16px;
}
.process_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.process_cell {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.process_card {
  width: 1100px;
  height: 160px;
  background: var(--background);
  border: 1px var(--text-inactive) solid;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 10%);
  display: flex;
  align-items: center;
  padding: 0 32px;
  gap: 16px;
}
.process_card > p {
  color: var(--text-sub);
}
.process_step {
  width: 88px;
  height: 48px;
  background: var(--primary-main);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process_step p {
  font-size: var(--body-l);
  color: white;
}

/* 메인 : 회사소개 - 김소영 */
.company {
  background: var(--dark-accent1);
}
.company .container {
  gap: 80px;
}
.company h2 {
  color: var(--white);
}
.company-item h3 {
  color: var(--white);
}
.year {
  color: var(--primary-main);
}
.company-item p {
  color: var(--white);
  margin-top: 8px;
}

/* 메인 : 강사진 소개 - 김소영 */
.lecturer {
  background: var(--dark-accent1);
}
.lecturer .container {
  gap: 80px;
}
.lecturer h2 {
  color: var(--white);
}
.instructor-list {
  height: 760px;
}
.instructor-card {
  padding: 10px 0;
}
.instructor-name,
.instructor-info p {
  color: var(--white);
}
.instructor-role {
  color: var(--primary-main);
}

/* 메인 : FAQ - 김소영 */
.faq {
  background: var(--background);
}
.faq-header h2 {
  color: var(--text-main);
}
.faq-header p {
  color: var(--text-sub);
}
.faq-list {
  margin: 48px auto 0;
}
.faq-item {
  width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}
.faq-question {
  min-height: 80px;
}

/* 메인 : CTA - 김소영 */
.cta {
  background: var(--background);
}
.cta-label {
  color: var(--text-sub);
}
.cta-title {
  color: var(--text-main);
}
.gradient-cta {
  background: var(--gradient-button);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cta-button-group {
  margin-top: calc(var(--base-unit) * 0.5);
}
.cta-button-group .btn {
  width: 223px;
  padding: 0;
}

/* 푸터- 김소영 */
footer {
  background: var(--dark-accent1);
  color: var(--text-inactive);
  padding: calc(var(--base-unit) * 3) 0;
}
footer .container {
  gap: 120px;
  align-items: flex-start;
}
.footer-content {
  /* align-items: flex-start; */
}
.footer-right {
  flex: 1;
}
.footer-logo img {
  width: 209px;
  padding-right: 30px;
}
.footer-top {
  /* width: 300px; */
  /* align-items: flex-start; */
  padding-bottom: 32px;
  border-bottom: 0.8px solid var(--text-inactive);
}
.footer-policy-wrap,
.footer-contact {
  display: flex;
  flex-direction: column;
}
.footer-top p,
.footer-contact p {
  margin-bottom: 12px;
  color: var(--white);
}
.footer-policy,
.footer-contact ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-contact {
  /* width: 300px; */
  /* align-items: flex-start; */
  /* gap: 40px; */
}
.footer-contact li {
  gap: 8px;
}
.footer-sns img {
  width: 32px;
  height: 32px;
}
.footer-bottom {
  padding-top: 32px;
}